.gameArea{
	/*display: inline-block; */
	float: left;
}

#gameCanvas{
	background: url("../img/stars.jpg");
	border: 1px #F5F5DC solid;
}


.scoreBoardWrapper{
	width: 35%;
	float: left;
	height: 150%;
}

.score-board-header{
	font-size: 30px;
	font-family: galaxyFont;
	color: #F5F5DC;
}

.scoreBoard{
	color: #F5F5DC;
	margin-left: 30px;
	background-color: black;
	height: 100%;
}

.player{
	height: 48px;
	font-size: 24px;
	font-family: galaxyFont;

}

.player-name{
	float: left;	
}

.player-score-wrapper{
	float: right;
}

.player-score{
	height: 20px;
	width: 20px;
	border: 1px solid white;
	border-radius: 50%;
	float: left;
}
