html, body {
    height: 80%;
	background-color: black;
}
@font-face {
	font-family: galaxyFont;
	src: url('/lib/BABYUI__.TTF');
}

p{
	color: #F5F5DC;
	text-align: center;
}

.error-message{
	color: #F5F5DC;
	font-size: 20px;
	text-align: center;
}

.display-new-game-info{
	color: #F5F5DC;
	text-align: center;
	margin: auto;
	font-size: 20px;
	border: dashed;
	padding: 10px;
}

.header{
	font-family: galaxyFont;
	color: #F5F5DC;
	font-size: 45px;
	margin-bottom: 20px;
}

.planet-image{
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 40px; 
	opacity: 0.3;
	margin-top: 60px;
	overflow: hidden;

}
/*
	   /	/red,    green        blue      yellow   lightblue    rose       grey       white
colors: ['#FF0000', '#00FF00', '#0000FF', '#FFFF00', '#00FFFF', '#FF00FF', '#C0C0C0', '#FFFFFF'],
*/
.winner-banner{
	color: #F5F5DC;
	position: fixed;
	top: 35%;
	left: 50%;
	font-size: 60px;
	margin-left: -27%;
	font-family: galaxyFont;
	text-align: center;
	text-shadow: 0 0 73px brown;
	background-color: black;

}

.createdBy{
	color: #F5F5DC;
	float: left;
	opacity: 0.5;
}
