html, body {
    height: 80%;
	background: url("../img/stars.jpg");
}
@font-face {
	font-family: galaxyFont;
	src: url('/lib/BABYUI__.TTF');
}

p{
	color: #F5F5DC;
	text-align: center;
}

.error-message{
	color: #F5F5DC;
	font-size: 20px;
	text-align: center;
}

.display-new-game-info{
	color: #F5F5DC;
	width: 600px;
	text-align: center;
	margin: auto;
	font-size: 20px;
}

.header{
	font-family: galaxyFont;
	color: #F5F5DC;
	font-size: 45px;
}

.mobile-join-game-info{
	margin-top: 40px;
	text-align: center;
	margin-left: 30%;
	width: 100%;
}

.header-mobile{
	font-family: galaxyFont;
	color: #F5F5DC;
	font-size: 25px;
}

.planet-image{
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 40px; 
	opacity: 0.3;
	margin-top: 60px;
	overflow: hidden;

}
.planet-image.planet-green{
	background: url("../img/planets/planet00FF00.png") no-repeat;
	background-size: 50%;
}
.planet-image.planet-red{
	background: url("../img/planets/planetFF0000.png") no-repeat;
	background-size: 50%;
}
.planet-image.planet-blue{
	background: url("../img/planets/planet0000FF.png") no-repeat;
	background-size: 50%;
}
.planet-image.planet-yellow{
	background: url("../img/planets/planetFFFF00.png") no-repeat;
	background-size: 50%;
}
.planet-image.planet-lightblue{
	background: url("../img/planets/planet00FFFF.png") no-repeat;
	background-size: 50%;
}
.planet-image.planet-grey{
	background: url("../img/planets/planetC0C0C0.png") no-repeat;
	background-size: 50%;
}
.planet-image.planet-white{
	background: url("../img/planets/planetFFFFFF.png") no-repeat;
	background-size: 50%;
}
/*
	   /	/red,    green        blue      yellow   lightblue    rose       grey       white
colors: ['#FF0000', '#00FF00', '#0000FF', '#FFFF00', '#00FFFF', '#FF00FF', '#C0C0C0', '#FFFFFF'],
*/
.winner-banner{
	color: #F5F5DC;
	position: fixed;
	top: 35%;
	left: 50%;
	font-size: 60px;
	margin-left: -27%;
	font-family: galaxyFont;
	text-align: center;
	text-shadow: 0 0 73px brown;
	background-color: black;

}
